<footer class="footer">
  <% if user_signed_in? && !(controller_name == 'photos' && action_name == 'new')  %>
    <div class="footer-photo-button">
      <%= link_to "NEW PHOTO", new_photo_path, class: "photo-button" %>
    </div>
  <% end %>
</footer>
