<div class="photos-index-main">
  <ul class="photos-lists">

    <% @photos.each do |photo| %>
    <li class="list">
      <%= link_to photo_path(photo), class: "photos-link" do %>
      <div class="photos-img-content">
        <%= image_tag photo.images[0], class: "photos-img" if photo.images.attached? %><br>
        <h3 class="photos-title">
        <%= photo.title%><br>
        </h3>
      </div>
      <% end %>
    </li>
   <% end %>
  </ul>

</div>