@tailwind base;
@tailwind components;
@tailwind utilities;

/* Componentsレイヤー */
@layer components {
  .btn-black {
    @apply px-8 py-4 bg-black text-white text-xl rounded-md shadow hover:bg-gray-700 transition;
  }

  .btn-white-raised {
    @apply px-4 py-2 bg-white text-black border border-gray-300  rounded-md shadow hover:bg-gray-100 transition;
  }

  .btn-danger-flat-mono {
    @apply bg-white text-black px-4 py-2 rounded-md border transition hover:bg-red-100 hover:text-red-600;
  }

  .custom-file-button {
    @apply block w-full cursor-pointer text-sm text-gray-700
      file:mr-4 file:py-2 file:px-4
      file:border file:rounded file:border-gray-400
      file:bg-white file:font-semibold
      hover:file:bg-gray-100;
  }
}

/* Utilitiesレイヤー */
@layer utilities {
  .grid-auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* Optional: メディアクエリ */
@media (max-width: 640px) {
  .grid-auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}