.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
  border-bottom: 1px solid white;
  flex-wrap: wrap;
}


.header-title {
  font-weight: 700;
  font-size: 40px;
  word-spacing: 0.4em; 
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex: 1 1 auto;
  white-space: nowrap;
}

.title-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header-user {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 20px;
  flex-shrink: 0;
}

.username {
  font-family: 'Shippori Mincho', serif;
  font-weight: 500;
  font-size: 18px;
  
}

.logout-button {
  font-size: 18px;
  padding: 4px 10px;
  width: 120px;
  background-color: white;
  color: black;
  border: 2px dotted black;
  text-decoration: none;
  text-align: center;
  margin-right: 70px;
  margin-left: 20px;
}

.logout-button:hover {
  background-color: #f0f0f0; 
}